body {
	margin: 0;
	padding: 0;
	background-color: #fff;
}
canvas {
	display: block;
	margin: 0 auto;
}
#instructions {
	display: none;
	color: #bbb;
	width: 800px;
	text-align: center;
	margin: 0 auto;
}
#debug-controls {
	display: none;
	position: absolute;
	top: 0;
	left: 15px;
	width: 200px;
	font-size: 80%;
}
#debug-controls label {
	display: block;
	width: 100%;
	clear: right;
	position: relative;
}
#debug-controls input {
	width: 45px;
	float: right;
	position: relative;
	top: -3px;
	font-size: 70%;
}
#debug-controls p {
	font-weight: bold;
	margin: 14px 0 3px 0;
}
@media(min-width: 1200px) {
	#debug-controls {
		display: block;
	}
}